* {
  margin: 0;
  padding: 0;
}
header {
  background-color: black;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  
}
.fbilogo {
  height: 100px;
  width: 100px;
}
.text_navigation {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;

 
}
.navigation {
  display: flex;
  margin-right: 50px;
  
}
.textcolor{
  color: white;
  text-decoration: none;
}
body{
  background: url("./img/main_img.jpg") no-repeat center ;
 
}

.main-fbi{
  height: 900px;
}

.active_link{
  text-decoration: underline;
  color: blanchedalmond;
}

.textcolor:hover{
  text-decoration: underline;
  color: blanchedalmond;
}
.signin{
  background-color: transparent;
}
.login{
background-color: transparent;
color: bisque;
}
.password{

}
