*{
    margin: 0;
    padding: 0;
}
header {
  background-color: black;
  height: 100px;
  display: flex;
}
nav {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.fbi_logo {
  width: 100px;
}
.nav {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.nav:hover,
.activ_link {
  text-decoration: underline;
  color: bisque;
}
main{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;

}
h1{
    margin: 10px;
    text-align: center;
}
.information{
    margin: 20px 0;
    display: flex;
    justify-content: space-between ;
}
h2{
    color: blue;
    margin: 10px;
}
.contentwrapper{
    width: 250px;
}
.contentimg{
    width: 250px;
    height: 170px;
}
.all{
    width: 800px;
}
footer{
    background-color: #6c6d6f;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.oursites{
    width: 50px;
    height: 50px;
    margin: 0 40px 0 0;
}
.oursites:hover{
    scale: 1.5;
}
.wrapper{
    display: flex;
    align-items: center;
}
