*{
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    height: 100px;
    display: flex;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .fbi_logo {
    width: 100px;
  }
  .nav {
    margin: 10px;
    text-decoration: none;
    color: white;
  }
  .nav:hover,
  .activ_link {
    text-decoration: underline;
    color: bisque;
  }
  main{
    background-color: #cacaf8;
    display: flex;
    justify-content: center;
  }
  .aboutwanted{
    width: 300px;
    margin: 10px;
    border: black 1px solid;
  }
  .aboutwanted:hover{
    scale: 1.5;
    background-color:blueviolet ;
    cursor: pointer;
  }
  .wantedimg{
    width: 300px
  }
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
  }
  .text1{
color: brown;
  }
  .head{
    background-color: blueviolet;
    color: antiquewhite;
    display: flex;
    justify-content: center;
  }